<div class="jumbotron">
  <%= if @current_user do %>
    <h3>Welcome <%= @current_user.name %> </h2>
    <p class="lead">Let's <%= link "Chat", to: hello_path(@conn, :index)%></p>
  <% else %>
    <h3>Welcome Guest!</h2>
  <% end %>
</div>
